body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: black;
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #e5e7eb;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 15
}

.container {
    width: min(1160px, 92%);
    margin-inline: auto
}

.top-bar {
    background: #0f172a;
    color: #cbd5e1;
    font-size: .85rem;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
}

.top-left span img {
    width: 14px;
    height: 14px;
    filter: brightness(0) invert(1);
    opacity: .8;
}

.top-right a img {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    filter: brightness(0) invert(1);
    opacity: .8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px
}

.company-name {
    font-size: 25px;
    font-weight: bold;
    color: #2b6e25;
}

.nav .menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav .menu a {
    color: #0f172a;
    font-weight: 700;
}

.nav .menu a:active {
    color: #2b6e25;
}

.nav .icons {
    display: flex;
    align-items: center;
    gap: 10px
}

.nav .icons button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 10px;
}

/*Hero*/
.hero {
    background: #f3f5f8;
}

.hero__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.text h1 {
    font-weight: 600;
    margin: 5px 0;
}

.text .lead {
    font-size: 1.2rem;
    color: #374151;
    margin: 4px 0 18px;
}

.text .para {
    color: #6b7280;
    font-size: 18px;
    max-width: 48ch;
}

.dots {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.dots .dot {
    width: 28px;
    height: 5px;
    border-radius: 80px;
    background: #d1d5db;
    border: none;
}

.dots .dot.active,
.dots .dot:hover {
    background: #3aa36b;
    transform: translateY(-2px)
}

.hero__image {
    position: relative;
}

.hero__image img {
    position: relative;
    width: 320px;
    height: 460px;
    padding: 30px;
    margin: 30px;
    z-index: 2;
    filter: drop-shadow(0 25px 28px rgba(15, 23, 42, .12));
}

/*Category Section*/
.section-header {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
}

.cat {
    display: grid;
    justify-items: center;
    gap: 10px
}

.cat .btn {
    display: inline-block;
    background: #3aa36b;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
}

.cat .btn:hover {
    background: rgba(15, 109, 23, 0.69);
    transform: translateY(-2px)
}

.thumbnail {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #e5e7eb;
    display: grid;
    place-items: center;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(15, 23, 42, .08);
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Featured product*/
.section {
    padding: 3.2rem 0
}

.section.gray {
    background: #f6f7fb
}

.section__head.center {
    text-align: center;
    margin-bottom: 2rem
}
.card-grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 2rem;
}
.card {
    background: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-shadow: 0 18px 45px rgba(15, 23, 42, .08);
    transition: transform .2s, box-shadow .2s;
}
.card-media {
    background: #f8fafc
}
.card-media img {
    aspect-ratio: 15 / 10;
    object-fit: cover;
    width: 100%
}
.card-body {
    padding: 1.2rem 1.3rem 1.4rem;
    display: grid;
    gap: .65rem
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.card-body h3 {
    margin: .2rem 0 .1rem;
    font-size: 1.1rem
}

.card-meta {
    display: flex;
    align-items: center;
    margin-top: .35rem
}

.card-meta .link {
    margin-right: 1.2rem
}
.small {
    font-size: .95rem
}

.muted {
    color: #6b7280
}
.link {
    color: #2563eb
}

.price {
    display: flex;
    justify-content: end;
    font-weight: 600;
    color: #111
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 24px 55px rgba(15, 23, 42, .12)
}

/*Footer*/
.footer {
    background-color: #0f172a;
    color: rgba(116, 255, 181, 0.19);
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #1e293b;
    gap: 2rem;
    padding: 3rem 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    color: rgba(240, 240, 242, 0.69);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.list a {
    color: rgba(225, 228, 194, 0.69);
}

.list img {
    height: 15px;
    width: 15px;
    filter: brightness(0) invert(1);
}

.footer h3 {
    color: #3aa36b;
    margin: 0 0 .8rem;
    font-size: 1.4rem
}

.footer h4 {
    color: #fff;
    margin: 0 0 .8rem;
    font-size: 1rem
}

.bottom-footer {
    background: #0b1220;
    border-top: 1px solid #1e293b;
}

.position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.social-btn {
    display: flex;
    gap: 10px;
}

.social-btn a {
    display: inline-flex;
    background: transparent;
    height: 20px;
    width: 20px;
    padding: 10px;
    border: 1px solid rgba(203, 242, 180, 0.69);
    border-radius: 50%;

    img {
        filter: brightness(0) invert(1);
    }
}

.social-btn a:hover {
    background-color: #1e293b;
}

.subscribe {
    display: flex;
    gap: 8px;
}

.subscribe input {
    padding: 10px;
    border: 1px;
}

.btn {
    border: none;
    background-color: #2b6e25;
    color: white;
}