body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: black;
    background-color: aliceblue;
}
a {
    text-decoration: none;
}
.header {
    border-bottom: 1px solid #e5e7eb;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 15
}

.container {
    width: min(1160px, 92%);
    margin-inline: auto
}

.top-bar {
    background: #0f172a;
    color: #cbd5e1;
    font-size: .85rem;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
}

.top-left span img {
    width: 14px;
    height: 14px;
    filter: brightness(0) invert(1);
    opacity: .8;
}

.top-right a img {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    filter: brightness(0) invert(1);
    opacity: .8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px
}

.company-name {
    font-size: 25px;
    font-weight: bold;
    color: #2b6e25;
}
.nav .menu{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav .menu a{
    color: #0f172a;
    font-weight: 700;
}
.nav .menu a:active{
    color: #2b6e25;
 }
.nav .icons{
    display: flex;
    align-items: center;
    gap: 10px
}
.nav .icons button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 10px;
}
.footer{
    background-color: #0f172a;
    color: rgba(116,255,181,0.19);
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #1e293b;
}
.list li {
    color: white;
}