<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zay</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<!--Topbar-->
<div class="top-bar">
    <div class="container row">
        <div class="top-left">
            <span><img src="../icons/mail.svg" alt="mail"> info@company.com</span>
            <span class="divider">|</span>
            <span><img src="../icons/phone.svg" alt="phone"> 010-020-0340</span>
        </div>
        <div class="top-right">
            <a href="#"><img src="../icons/facebook.svg" alt="fb icn"></a>
            <a href="#"><img src="../icons/twitter.svg" alt="Tw icn"></a>
            <a href="#"><img src="../icons/instagram.svg" alt="if icn"></a>
            <a href="#"><img src="../icons/linkedin.svg" alt="lin icn"></a>
        </div>
    </div>
</div>
<!--Header-->
<header class="header">
    <div class="container nav">
        <a class="company-name" href="javascript:void(0)">Zay</a>
        <nav class="menu">
            <a href="javascript:void(0)" class="active">Home</a>
            <a href="javascript:void(0)">About</a>
            <a href="javascript:void(0)">Shop</a>
            <a href="javascript:void(0)">Contact</a>
        </nav>

        <div class="icons">
            <button>
                <img src="../icons/search.svg" alt="Search">
            </button>
            <button >
                <img src="../icons/shopping-cart.svg" alt="Cart">
                <span>7</span>
            </button>
            <button>
                <img src="../icons/user.svg" alt="User">
                <span>+99</span>
            </button>
        </div>
    </div>
</header>
<!--Footer-->
<footer class="footer">
    <div class="container footer-grid">
        <div>
            <h3>Zay Shop</h3>
            <ul class="list">
                <li><img src="../icons/map-pin.svg" alt="location"> 123 Consectetur at ligula 10660</li>
                <li><img src="../icons/phone.svg" alt="phone"> 010-020-0340</li>
                <li><img src="../icons/mail.svg" alt="mail"> info@company.com</li>
            </ul>
        </div>

        <div>
            <h4>Products</h4>
            <ul class="list">
                <li><a href="#">Luxury</a></li>
                <li><a href="#">Sport Wear</a></li>
                <li><a href="#">Men’s Shoes</a></li>
                <li><a href="#">Women’s Shoes</a></li>
                <li><a href="#">Popular Dress</a></li>
                <li><a href="#">Gym Accessories</a></li>
                <li><a href="#">Sport Shoes</a></li>
            </ul>
        </div>

        <div>
            <h4>Further Info</h4>
            <ul class="list">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Shop Locations</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container footer__bottom-content">
            <div class="footer__social">
                <a href="#"><img src="../icons/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="../icons/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="../icons/twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="../icons/linkedin.svg" alt="LinkedIn"></a>
            </div>
            <div class="footer__newsletter">
                <form class="newsletter" onsubmit="return false;">
                    <input type="email" placeholder="Email address" aria-label="Email">
                    <button class="btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>

</body>
</html>